<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andri.trueorfalse1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ModsActivity" />
        <activity android:name=".SurvivalActivity" />
        <activity android:name=".TimeActivity" />
        <activity android:name=".MultiplayerActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".GameOverSurvivalActivity" />
        <activity android:name=".GameOverMultiActivity" />
        <activity android:name=".CategoryModsActivity">
            <intent-filter>
                <action android:name="android.intent.action.truefalseactivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".GameOverTimeActivity" />
        <activity android:name=".RulesActivity">
            <intent-filter>
                <action android:name="android.intent.action.truefalse" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>